<h2>{{titleTable}}</h2>
<table class="table table-bordered text-center">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Comprar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let palo of palos">
        <th scope="row"><img width="50px" height="60px" [src]="palo.imagen" [alt]="palo.Marca"></th>
        <td>{{palo.Marca}}</td>
        <td>{{palo.Modelo}}</td>
        <td>{{palo.Precio | currency}}</td>
        <td><span class="alert alert-danger" role="alert" *ngIf="palo.Stock==0; else mostraStock">Sin Stock</span></td>
        <ng-template #mostraStock>{{palo.Stock}}</ng-template>
        <td>
          <!--lo que va entre corchetes es el dato que va en input-integer. "palo" es del if-->
          <app-input-integer [(cantidad)]="palo.cantidadCompra" [max]="palo.Stock"
           (maximoAlcanzado)="maximoAlcanzado($event)" *ngIf="palo.Stock"></app-input-integer>
          </td>
        <td><button class="btn btn-secondary btn-sm">Comprar</button></td>
      </tr>
    </tbody>
  </table>
  <br>
  
