<div class="row">
  <div class="col-12">
    <div class="centrar">
      <span *ngIf="(carritoDePalos$ | async)?.length == 0; else mostrarTablaCarrito">      
        <p class="text-center">Usted no ha comprado nada aun. Para comprar pulse <a [routerLink]="['/nuestrospalos']">aqui</a></p>
      </span>
    </div>
    <ng-template #mostrarTablaCarrito>
      <h3>Carrito de Compras</h3>
        <table class="table table-striped table-hover text-center">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Sub-Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let palo of carritoDePalos$ |async">
                <th scope="row"><img width="50px" height="60px" [src]="palo.imagen" [alt]="palo.Marca"></th>
                <td>{{palo.Marca}}</td>
                <td>{{palo.Modelo}}</td>
                <td>{{palo.Precio | currency}}</td>
                <td>{{palo.cantidadCompra}}</td>
                <td>{{palo.cantidadCompra * palo.Precio | currency}}</td>
              </tr>
            </tbody>
          </table>
            <h3>Total A pagar: {{total$ | async |currency}}</h3>        
    </ng-template>
  </div>
</div>
   
    

