<div>
  <header>
    <h1 class="display-3">{{title}}</h1>
  </header>

  <app-nav-bar></app-nav-bar>
  
  <div class="card">
    <div class="card-header">
    </div>
    <section>
      <div class="container">

        <router-outlet></router-outlet>

      </div>
    </section>
    
    <footer>
      <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Tandil - Provincia de Buenos Aires</p>
          <footer class="blockquote-footer">2494685674 <cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div></footer>
</div>