<nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/nuestrospalos']">Nuestros Palos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/contactenos']" >Contactenos</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/carrito']"><i class="fa icon" style="font-size:24px">&#xf07a;</i>
            <span *ngIf="(quantity) != 0;" class="badge badge-primary">{{quantity}}</span></a>
        </li>
    </ul>
  </nav>